/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
error.log
Todo.rtf
/public/assets/bower_components
/public/js/vendor
Envoy.blade.php
_ide_helper.php
composer.lock
app/config/packages/bugsnag/
.DS_Store
/public/build/
*.out
.phpstorm.meta.php
_ide_helper_models.php
tags
.tags_swap
public/build/rev-manifest.json
npm-debug.log
*.pem
*.txt
doc/
